.ball {
    background-color: ghostwhite;
    border: 1px darkgrey solid;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #8b8482;
}

.empty {
    filter: grayscale(1);
}