.card {
    background-color: ghostwhite;
    border: 1px darkgrey solid;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}