<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mon PC</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="home">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="pc">PC</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="pokedex">Pokedex</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="inventory">Inventaire</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="shop">Magasin</a>
    </li>
</ul>


<div class="album py-5 bg-light">
    <div class="container">
        <h3>Mes Pokémons</h3>

        <div class="row">
            {% for pokemon in team %}
                <div class="col-md-2">
                    <div class="card mb-4 shadow-sm">
                        <img
                                src="{{ pokemon.frontPicture }}"
                                alt="{{ pokemon.name }}_picture"
                                class="bd-placeholder-img card-img-top"
                                width="100%" height="100%"/>

                        <div class="card-body">
                            <p class="card-title">
                                {{ pokemon.name }}
                            <div class="align-items-center">
                                <div class="btn-group">
                                    <a href="pokemon/{{ pokemon.number }}"
                                       class="btn btn-sm btn-outline-danger">Détail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="wrapper">
    {% for pokemon in team %}
        <a href="pokemon/{{ pokemon.number }}">
            <div class="card">
                <p>{{ pokemon.name }}</p>
                <img src="{{ pokemon.frontPicture }}" alt="{{ pokemon.name }}_picture"/>
            </div>
        </a>
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>