<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magasin</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="home">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="pc">PC</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="pokedex">Pokedex</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="inventory">Inventaire</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="shop">Magasin</a>
    </li>
</ul>

<div class="album py-5 bg-light">
    <div class="container">
        <form method="post" action="/shop">
            {% csrf_token %}
            <h3 style="float: right">{{ trainer.money }}<img height="20" alt="Pokedollar"
                                                             src="{% static "my_app/assets/Pokedollar.png" %}"></h3>

            <h3>Magasin</h3>
            <div class="row">

                {% for ball in balls %}
                    <div class="col-md-2">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{ ball.picture }}" class="bd-placeholder-img card-img-top" width="100%"
                                 height="100%">
                            <div class="card-body">
                                <p>{{ ball.price }}<img height="20" alt="Pokedollar"
                                                        src="{% static "my_app/assets/Pokedollar.png" %}">
                                </p>
                                <input class="form-control" hidden name="price-{{ ball.apiID }}"
                                       value="{{ ball.price }}">
                                <input class="form-control" type="number" name="number-{{ ball.apiID }}" value="0">
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <input class="btn btn-outline-danger" type="submit" value="Acheter">
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>